<div class="container">
    <h2 class="placa">{{registro.vehiculo.placa}}</h2>
    <p>{{registro.vehiculo.tipoDeVehiculo}}</p>            
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Hora Entrada</th>
          <th>Hora Salida</th>
          <th>Total a Pagar</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{registro.horaEntrada}}</td>
          <td>{{registro.horaSalida}}</td>
         <td>${{registro.pago}}</td>
        </tr>
      </tbody>
    </table>
  </div>